@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --color-primary: #002027;
  --color-secondary: #002F3A;
  --color-heading:#008B9F;
  --color-btn:#008B9F;
}
